.home-cases {
  .scroll-slider {
    &-slide {
      min-width: 340px;
    }
    &-control,
    &-link {
      border: none;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  .home-case {
    background: white;
    padding: 45px 30px;
    text-decoration: none;
    display: block;

    &__logo {
      margin-bottom: 24px;
    }

    &__title {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 700;
      color: var(--dark);
    }

    &__text {
    }
  }

  @include tablet-up {
    &__title {
      margin-bottom: 40px;
    }
  }

  @include lg-tablet-up {
    .home-case {
      padding: 45px 40px;
    }
    &__title {
      margin-bottom: 50px;
    }
  }
}
