.home-page__jumbotron {
  .fade-slider {
    height: 250px;
    &-pagination {
      padding-bottom: var(--space-md);
    }
  }
  .jumbotron {
    overflow: hidden;
  }
  .home-banner {
    height: 100%;
    &__img {
      display: none;
    }
    &__content {
      padding-top: var(--space-xs);
      padding-bottom: var(--space-xs);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &__text {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: var(--space-md);
    }
  }

  @include tablet-up {
    .fade-slider {
      height: 450px;
      position: relative;

      &-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: flex-start;
        padding-bottom: calc(2 * var(--gap));
      }
    }
    .home-banner {
      display: flex;

      &__content {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: flex-start;
        text-align: left;
        padding-bottom: calc(2 * var(--space-xs));
      }

      &__img {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        display: block;
        position: relative;

        img {
          display: block;
          position: absolute;

          // lighthouse
          right: 0;
          bottom: var(--space-md);
          max-height: calc(100% - 2 * var(--space-md));
          width: auto;
        }
      }
      &__text {
        font-size: 32px;
        margin-bottom: 30px;
      }
    }
  }

  @include lg-tablet-up {
    .fade-slider {
      height: 580px;

      &-pagination {
        padding-bottom: 70px;
      }
    }

    .home-banner {
      &__text {
        font-size: 42px;
      }
      &__content {
        padding-bottom: 90px;
      }
    }
  }

  @include desktop-up {
    .home-banner {
      &__img {
        img {
          left: 0;
          margin: auto;
        }
      }
    }
  }
}

// .banner {
//   background: $primary;

//   .container {
//     height: 580px;
//     position: relative;
//     display: flex;
//   }

//   .banner__slider {
//     width: 50%;
//     display: flex;

//     .swiper {
//       overflow: hidden;

//       &-wrapper {
//         flex-shrink: 1;
//         flex-grow: 1;
//         height: auto;
//       }

//       &-pagination {
//         position: static;
//         flex-shrink: 0;
//         text-align: left;

//         &-bullet {
//           background: white;
//           opacity: 1;
//           vertical-align: middle;
//           margin-left: 0;
//           margin-right: 20px;

//           &-active {
//             width: 20px;
//             height: 20px;
//             background-color: $accent;
//           }
//         }
//       }
//     }

//     .banner-slider {
//       display: flex;
//       flex-direction: column;
//       padding-top: 150px;
//       padding-bottom: 64px;
//     }

//     .banner__header {
//       font-size: 42px;
//       color: white;
//       margin-bottom: 34px;
//     }

//     .banner__button {

//     }
//   }

//   .banner-img {
//     position: absolute;
//     bottom: -5px;
//     right: 0;

//     .light {
//       animation-name: lightRotation;
//       animation-duration: 8.5s;
//       animation-iteration-count: infinite;
//       animation-timing-function: ease-in-out;
//       transform-origin: 73.5% center;
//     }

//     .cloud {
//       animation-name: cloudMove;
//       animation-iteration-count: infinite;
//       animation-timing-function: ease-in-out;

//       &-1 {
//         animation-delay: 3s;
//         animation-duration: 6s;
//       }

//       &-2 {
//         animation-delay: 1.4s;
//         animation-duration: 10s;
//       }

//       &-2 {
//         animation-delay: 0s;
//         animation-duration: 12s;
//       }
//     }
//   }
// }

// @keyframes lightRotation {
//   from {
//     transform: rotateY(0deg);
//   }
//   25% {
//     opacity: 0.2;
//   }
//   50% {
//     transform: rotateY(180deg);
//     opacity: 1;
//   }
//   75% {
//     opacity: 0.2;
//   }
//   to {
//     transform: rotateY(360deg);
//     opacity: 1;
//   }
// }

// @keyframes cloudMove {
//   from {
//     transform: translateY(0px);
//   }
//   50% {
//     transform: translateY(10px)
//   }
//   to {
//     transform: translateY(0px);
//   }
// }

.s-slider {
  &-pagination {
    div {
      width: 10px;
      height: 10px;
      background: blue;
      margin: 5px;
      &.active {
        background: red;
      }
    }
  }
}
