@mixin visibleSolutionSlide {
  opacity: 1;

  .home-solution {
    @include cardShadow;
    pointer-events: all;
  }
}

.home-solutions {
  &__header {
    margin-bottom: var(--space-md);
  }

  &__title {
    margin-bottom: var(--space-sm);
  }

  .scroll-slider {
    &-slide {
      min-width: 340px;

      opacity: 0.5;

      &[data-order='1'] {
        @include visibleSolutionSlide();
      }
    }
  }

  .home-solution {
    text-decoration: none;
    padding: 40px 30px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    min-height: 270px;
    pointer-events: none;

    &__group {
      color: var(--label);
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__title {
      color: var(--header);
      font-size: 24px;
      font-weight: 700;
    }

    &__icon {
      margin-top: auto;
    }
  }

  @include tablet-up {
    &__title {
      margin-bottom: var(--space-lg);
    }

    .scroll-slider {
      &-slide {
        &[data-order='2'] {
          @include visibleSolutionSlide;
        }
      }
    }
  }

  @include lg-tablet-up {
    &__title {
      margin-bottom: 30px;
    }
  }

  @include sm-desktop-up {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--space-xl);
    }
    &__title {
      margin-bottom: 0;
    }

    .scroll-slider {
      &-slide {
        &[data-order='3'] {
          @include visibleSolutionSlide;
        }
      }
    }
  }
}
