.home-solutions {
  &__header {
    margin-bottom: var(--space-md);
  }

  &__title {
    margin-bottom: var(--space-sm);
  }



  .scroll-slider {
    &-slide {
      min-width: 340px;
    }
  }

  .home-solution {
    padding: 40px 30px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    min-height: 270px;

    &__group {
      color: var(--secondary);
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__title {
      color: var(--dark);
      font-size: 24px;
      font-weight: 700;
    }

    &__icon {
      margin-top: auto;
    }
  }

  @include tablet-up {
    &__title {
      margin-bottom: var(--space-lg);
    }
  }

  @include lg-tablet-up {
    &__title {
      margin-bottom: 30px;
    }
  }

  @include sm-desktop-up {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--space-xl);
    }
    &__title {
      margin-bottom: 0;
    }
  }
}
