@import 'jumbotron';
@import 'stats';
@import 'info';
@import 'clients';
@import 'solutions';
@import 'tech';
@import 'faq';
@import 'cases';
@import 'news';
@import 'form';

.home-page {
  &__stats {
    margin-top: 30px;
  }

  @include tablet-up {
    &__stats {
      margin-top: 40px;
    }
  }

  @include lg-tablet-up {
    &__stats {
      margin-top: 55px;
    }
  }

  @include sm-desktop-up {
    &__stats {
      margin-top: 40px;
    }
  }
}
