include ../../mixins/icon.pug

.header-search
  button.btn.btn-round.btn-primary-inverse.header-search__trigger(type="button")
    +svg-icon('search', 14, 14)

  .header-search__search(hidden)
    include components/search.pug
