.header-search
  button.btn.btn-round.btn-primary-inverse.header-search__trigger(type="button")
    svg(width="20" height="20")
        use(xlink:href="#i-search" href="#i-search")

  .header-search__search(hidden)
    include components/search.pug
