mixin list-item(item)
  li
    a(href=item.link)= item.name
    if item.items
      ul
        each subItem in item.items
          +list-item(subItem)

mixin menu-section(item)
  include ../../mixins/icon.pug

  .header-menu-section(data-section=item.id)
    .header-menu-section__title
      a(href=item.link)= item.name
      if item.items
        button.icon-btn.header-menu-section__toggler
          +svg-icon('chevron-bottom', 20, 20)
    if item.items
      .header-menu-section__items
        ul
          each subItem in item.items
            +list-item(subItem)
