mixin list-item(item)
  li
    a(href=item.link)= item.name
    if item.items
      ul(class=item.class)
        each subItem in item.items
          +list-item(subItem)

mixin menu-section(item)
  include ../../mixins/icon.pug

  section.header-menu-section(data-section=item.id)
    header.header-menu-section__header
      a.header-menu-section__title(href=item.link)= item.name
      if item.items
        button.icon-btn.header-menu-section__toggler
          +svg-icon('chevron-bottom', 12, 7)
    if item.items
      .header-menu-section__items
        ul
          each subItem in item.items
            +list-item(subItem)
