mixin list-item(item)
  li
    a(href=item.link)= item.name
    if item.items
      ul
        each subItem in item.items
          +list-item(subItem)

mixin menu-section(item)
  .header-menu-section(data-section=item.id)
    .header-menu-section__title
      a(href=item.link)= item.name
      if item.items
        button.icon-btn.header-menu-section__toggler
          svg(width="20" height="20")
            use(xlink:href="#i-chevron-bottom" href="#i-chevron-bottom")
    if item.items
      .header-menu-section__items
        ul
          each subItem in item.items
            +list-item(subItem)
