
<!-- HEADER -->
include ../../mixins/icon.pug

header.header
  .header-view
    .container
      .header-view__wrapper
        a.header-logo(href="/")
          img(src="./img/logo.png" alt="S-Terra logo")

        .header__navigation
          include _header-navigation.pug

        .header__contacts
          include _header-contacts.pug

        .header__actions
          include _header-search.pug

          a.btn.btn-round.btn-primary-inverse.header-account(href="#")
            +svg-icon('user', 16, 16)

        button.icon-btn.header-toggler(type="button" data-closed)
          span.burger
            +svg-icon('burger', 20, 17)
          span.times
            +svg-icon('times', 16, 16)


  .header-pane(hidden)
    .container
      .header-pane__search
        include components/search.pug
      .header-pane__nav
        include _mixins.pug
        include data/menu.pug

        .header-menu
          each section in [ menu.about, menu.catalog, menu.support, menu.press ]
            +menu-section(section)

      .header-pane__contacts
        include components/contacts.pug
<!-- /HEADER -->
