.apps {
  &-block {
    &:not(:last-child) {
      margin-bottom: var(--space-unit);
    }
  }
  &-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  &-list {
    list-style: none;
    display: flex;
    margin-left: -7.5px;
    margin-right: -7.5px;

    li {
      margin-left: 7.5px;
      margin-right: 7.5px;
      flex-shrink: 0;
    }
  }
  .app-icon {
    // background-image: url(../img/apps/sprite.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: block;
    width: 36px;
    height: 37px;
    cursor: pointer;

    &-fb {
      background-image: url(../img/apps/fb.png);
    }

    &-in {
      background-image: url(../img/apps/in.png);
    }

    &-tg {
      background-image: url(../img/apps/tg.png);
    }

    &-vk {
      background-image: url(../img/apps/vk.png);
    }

    &-wa {
      background-image: url(../img/apps/wa.png);
    }

    &-yt {
      background-image: url(../img/apps/yt.png);
    }
  }

  &.colored {
    .app-icon {
      transition: background-image 400ms ease-in-out;
      &-fb {
        &:hover {
          background-image: url(../img/apps/fb-color.png);
        }
      }

      &-in {
        &:hover {
          background-image: url(../img/apps/in-color.png);
        }
      }

      &-tg {
        &:hover {
          background-image: url(../img/apps/tg-color.png);
        }
      }

      &-vk {
        &:hover {
          background-image: url(../img/apps/vk-color.png);
        }
      }

      &-wa {
        &:hover {
          background-image: url(../img/apps/wa-color.png);
        }
      }

      &-yt {
        &:hover {
          background-image: url(../img/apps/yt-color.png);
        }
      }
    }
  }
}
