.footer {
  background: var(--primary);
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 13px;

  &__logo {
    margin-bottom: 30px;
  }

  &-contacts {
    margin-bottom: 35px;

    &__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: var(--space-sm);
    }

    p {
      margin-bottom: var(--space-unit);
    }

    a {
      color: inherit;
      font-weight: 700;

      &[href *= 'tel'] {
        text-decoration: none;
      }
    }
  }

  &-apps {
    margin-bottom: 35px;
  }

  &__links {
    font-size: 12px;

    .footer-logo {
      display: none;
    }
  }

  &-link {
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: inherit;
    margin-bottom: var(--space-unit);
  }
}
