/* LINK */

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: var(--link-variant);
    text-decoration: none;
  }
  &.active {
    color: var(--accent);
  }
  &[disabled], &.disabled {
    opacity: 0.5;
  }
}
