.swiper {
  overflow: visible;

  .swiper-controls {
    margin-top: 30px;
  }

  .swiper-control {
    margin-right: 10px;
  }

  .swiper-button-disabled {
    cursor: default;
    &:hover {
      border-color: var(--border);
    }
    svg {
      opacity: 0.6;
    }
  }

  .swiper-slide {
    height: auto;
    &[data-invisible] { opacity: 0.3; }
  }
}
