@use 'sass:math';

/* GRID
* md - tablet-up (>=768px)
* lg - sm-desktop-up (>=1280px)
*/

@mixin grid-generator($prefix) {
  .col#{$prefix} {
    @for $i from 1 through 12 {
      &-#{$i} {
        width: math.div(100%, 12) * $i;
      }
    }
  }
}

:root {
  --gap: 10px;

  @include tablet-up {
    --gap: 15px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2 * var(--gap));
  padding-right: calc(2 * var(--gap));
  max-width: $maxContentWidth;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
}

.col {
  padding-left: var(--gap);
  padding-right: var(--gap);
}

@include grid-generator('');

/* md GRID: TABLET-UP */
@include tablet-up {
  @include grid-generator('-md');
}

/* lg GRID: SM-DESKTOP-UP */
@include sm-desktop-up {
  @include grid-generator('-lg');
}
