/* GRID
* md - tablet-up (>=768px)
* lg - sm-desktop-up (>=1280px)
*/

@mixin grid-generator($prefix) {
  .col#{$prefix} {
    @for $i from 1 through 12 {
      &-#{$i} {
        width: 100% / 12 * $i;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

@include grid-generator('');

/* md GRID: TABLET-UP */
@include tablet-up {
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include grid-generator('-md');
}

/* lg GRID: SM-DESKTOP-UP */
@include sm-desktop-up {
  @include grid-generator('-lg');
}
