mixin apps(colored)
  .apps(class=colored && 'colored')
    .apps-block
      .apps-title Мы в мессенджерах
      ul.apps-list
        li
          a.app-icon.app-icon-wa(href="#" target="_blank" rel="noopener noreferrer nofollow")
        li
          a.app-icon.app-icon-tg(href="#" target="_blank" rel="noopener noreferrer nofollow")
    .apps-block
      .apps-title Мы в соцсетях
      ul.apps-list
        li
          a.app-icon.app-icon-fb(href="#" target="_blank" rel="noopener noreferrer nofollow")
        li
          a.app-icon.app-icon-yt(href="#" target="_blank" rel="noopener noreferrer nofollow")
        li
          a.app-icon.app-icon-vk(href="#" target="_blank" rel="noopener noreferrer nofollow")
        li
          a.app-icon.app-icon-in(href="#" target="_blank" rel="noopener noreferrer nofollow")
