include ../../../mixins/icon.pug

.home-tech
  .container
    .home-tech__wrapper
      section.home-tech-item
        h2.home-tech-item__title Международные<br>технические<br>стандарты IPsec
        .home-tech-item__link
          a(href="#")
            |Подробнее
            +svg-icon('chevron-right', 7, 12)
        .home-tech-item__icon
          img(src="./img/icons/ipsec.png")

      section.home-tech-item
        h2.home-tech-item__title Сертификация<br>в органах ФСБ<br>и ФСТЭК России
        .home-tech-item__link
          a(href="#")
            |Подробнее
            +svg-icon('chevron-right', 7, 12)
        .home-tech-item__icon
          img(src="./img/icons/certification.png")
