include ../../../mixins/icon.pug

.docs
  .container
    .docs__wrapper
      section.docs-item
        h2.docs-item__title Международные<br>технические<br>стандарты IPsec
        .docs-item__link
          a(href="#")
            |Подробнее
            +svg-icon('chevron-right', 7, 12)
        .docs-item__icon
          img(src="./img/icons/ipsec.png")

      section.docs-item
        h2.docs-item__title Сертификация<br>в органах ФСБ<br>и ФСТЭК России
        .docs-item__link
          a(href="#")
            |Подробнее
            +svg-icon('chevron-right', 7, 12)
        .docs-item__icon
          img(src="./img/icons/certification.png")
