<!-- SEARCH -->

include ../../../mixins/icon.pug

form.search(data-search action="./test/data.json" method="GET")
  // TODO: указать экшен для ajax-запроса
  // @param q {String}
  // @result items[ <text, link> ]
  .search-field
    .search-field__icon
      +svg-icon('search', 14, 14)
    input.form-control(value="" placeholder='Поиск' name="q" data-field autocomplete="off")
    button.icon-btn.search-field__reset(type='button' data-reset)
      +svg-icon('times', 10, 10)

  ul.search-list(data-list hidden)
<!-- /SEARCH -->
