<!-- SEARCH -->
include ../../../mixins/icon.pug

div.search(data-search)

  .search-field
    .search-field__icon
      +svg-icon('search', 14, 14)
    input.form-control(value="" placeholder='Поиск' data-field)
    button.icon-btn.search-field__reset(type='button' data-reset)
      +svg-icon('times', 10, 10)

  ul.search-list
<!-- /SEARCH -->
