.home-info
  .container
    .home-info__wrapper
      section.home-info-company
        .home-info-company__container
          .home-info-company__icons
            img(src="./img/icons/info.png")

          .home-info-company__content
            h2.home-info-company__title Разрабатываем и производим средства сетевой информационной безопасности

            .home-info-company__text На основе технологии IPsec VPN обеспечиваем защиту межсетевых взаимодействий, беспроводных и мультисервисных сетей, безопасность работы удаленных и мобильных пользователей.
            .home-info-company__link
              a.btn.btn-primary-inverse(href="#") О компании

      section.home-info-products
        .home-info-products__container
          h2.home-info-products__title Вся продуктовая линейка ООО «С-Терра СиЭсПи»
          div.home-info-products__text Ознакомьтесь с линейкой нашей продукции
          div.home-info-products__link
            a.btn.btn-accent(href="#") Перейти в каталог
