-
  var solutions = [
    {
      title: 'Защита удаленного доступа',
      icon: "./img/solutions/1.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита персональных данных',
      icon: "./img/solutions/2.png",
      type: 'sector',
      link: '#',
    },
    {
      title: 'Защита межфилиальных взаимодействий',
      icon: "./img/solutions/3.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита удаленного доступа',
      icon: "./img/solutions/1.png",
      type: 'sector',
      link: '#',
    },
    {
      title: 'Защита персональных данных',
      icon: "./img/solutions/2.png",
      type: 'complex',
      link: '#',
    },
    {
      group: 'Комплексное решение',
      title: 'Защита межфилиальных взаимодействий',
      icon: "./img/solutions/3.png",
      type: 'sector',
      link: '#',
    },
    {
      title: 'Защита удаленного доступа',
      icon: "./img/solutions/1.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита персональных данных',
      icon: "./img/solutions/2.png",
      type: 'sector',
      link: '#',
    },
    {
      title: 'Защита межфилиальных взаимодействий',
      icon: "./img/solutions/3.png",
      type: 'complex',
      link: '#',
    }
  ]
