.jumbotron
  .jumbotron__slider
    .s-slider
      .s-slider-wrapper
        .s-slider-slides
          section.s-slider-slide

            .jumbotron-banner
              .jumbotron-banner__text
                h2 1Обеспечиваем<br>современными решениями<br>для построения VPN
                button.btn.btn-lg.btn-accent(type="button") Выбрать решение
              .jumbotron-banner__img
                img(src="./img/icons/lighthouse.png", alt="" width="200")

          section.s-slider-slide

            .jumbotron-banner
              .jumbotron-banner__text
                h2 2Обеспечиваем<br>современными решениями<br>для построения VPN
                button.btn.btn-lg.btn-accent(type="button") Выбрать решение
              .jumbotron-banner__img
                img(src="./img/icons/lighthouse.png", alt="" width="200")

          section.s-slider-slide
            .jumbotron-banner
              .jumbotron-banner__text
                h2 3Обеспечиваем<br>современными решениями<br>для построения VPN
                button.btn.btn-lg.btn-accent(type="button") Выбрать решение
              .jumbotron-banner__img
                img(src="./img/icons/lighthouse.png", alt="" width="200")

      .s-slider-pagination
