.jumbotron
  #home-slider.fade-slider
    .fade-slider-slides
      section.fade-slider-slide.active

        .home-banner
          .home-banner__content
            .home-banner__text Обеспечиваем<br>современными решениями<br>для построения VPN
            button.btn.btn-accent(type="button") Выбрать решение
          .home-banner__img
            img(src="./img/icons/lighthouse.png", alt="")

      section.fade-slider-slide

        .home-banner
          .home-banner__content
            .home-banner__text Обеспечиваем<br>современными решениями<br>для построения VPN (2)
            button.btn-accent(type="button") Выбрать решение
          .home-banner__img
            img(src="./img/icons/lighthouse.png", alt="")

      section.fade-slider-slide
        .home-banner
          .home-banner__content
            .home-banner__text Обеспечиваем<br>современными решениями<br>для построения VPN (3)
            button.btn.btn-accent(type="button") Выбрать решение
          .home-banner__img
            img(src="./img/icons/lighthouse.png", alt="")

    .fade-slider-pagination
