.jumbotron
  .jumbotron__slider
    .c-slider
      .c-slider-wrapper
        section.c-slider-slide
          .jumbotron-banner
            .jumbotron-banner__text
              h2 Обеспечиваем<br>современными решениями<br>для построения VPN
              button.btn.btn-lg.btn-accent(type="button") Выбрать решение
            .jumbotron-banner__img
              img(src="./img/icons/lighthouse.png", alt="")
        section.c-slider-slide
          .jumbotron-banner
            .jumbotron-banner__text
              h2 Обеспечиваем<br>современными решениями<br>для построения VPN
              button.btn.btn-lg.btn-accent(type="button") Выбрать решение
            .jumbotron-banner__img
              img(src="./img/icons/lighthouse.png", alt="")
        section.c-slider-slide
          .jumbotron-banner
            .jumbotron-banner__text
              h2 Обеспечиваем<br>современными решениями<br>для построения VPN
              button.btn.btn-lg.btn-accent(type="button") Выбрать решение
            .jumbotron-banner__img
              img(src="./img/icons/lighthouse.png", alt="")
      .c-slider-pagination
