.header-navigation {
  font-size: 15px;
  font-weight: 500;

  ul {
    display: flex;
    list-style: none;
    height: 100%;

    li {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: var(--space-md);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
