@import 'toggler';
@import 'contacts';
@import 'navigation';
@import 'pane';
@import 'search';
@import 'menu';
@import 'contacts-block';

:root {
  --header-height: 50px;
}

.header {
  color: var(--primary);
  &-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $headerZIndex;
    background: white;
    transition: box-shadow 400ms ease-in-out;
    &__wrapper {
      display: flex;
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
  }

  &-toggler {
    margin-left: var(--space-lg);
  }

  &.fixed {
    .header-view {
      box-shadow: 0px 5px 15px rgba(0, 0, 102, 0.15);
    }
  }
}

// mobile
.header {
  &-view {
    &__wrapper {
      height: var(--header-height);
    }
  }

  &-logo {
    img {
      height: 20px;
    }
  }

  &__navigation {
    display: none;
  }

  &__contacts {
    display: none;
  }

  &__actions {
    display: none;
  }
}

.header + * {
  margin-top: var(--header-height);
}

@include tablet-up {
  :root {
    --header-height: 80px;
  }
  .header {
    &-logo {
      img {
        height: 28px;
      }
    }

    &__contacts {
      display: block;
      margin-right: var(--space-xl);
    }
    &__actions {
      display: flex;
      align-items: center;
    }
    &-search {
      margin-right: var(--space-unit);
    }
  }
}

@include sm-desktop-up {
  .header {
    &__navigation {
      display: flex;
      align-items: center;
      margin-right: auto;
    }

    &__contacts {
      margin-right: var(--space-lg);
    }

    &-toggler {
      display: none;
    }
  }
}

// .header {


//   .main-menu {
//     display: flex;

//     ul {
//       display: flex;

//       list-style: none;
//     }

//     li {
//       display: flex;
//     }

//     li:not(:last-child) {
//       margin-right: 25px;
//     }

//     .menu-section {
//       display: flex;
//       align-items: center;
//       cursor: pointer;

//       &__title {
//         cursor: pointer;
//       }
//       &__toggler {
//         vertical-align: middle;
//         margin-left: 6px;
//         transition: transform 250ms ease-in-out;
//       }
//       &__panel {
//         visibility: hidden;
//         opacity: 0;
//         z-index: 0;
//         pointer-events: none;
//         transition: all 250ms;
//       }

//       &:hover {
//         .menu-section__title {
//           color: var(--accent);
//         }
//         .menu-section__toggler {
//           transform: rotate(-180deg);
//         }
//         .menu-section__panel {
//           visibility: visible;
//           opacity: 1;
//           z-index: 5;
//           pointer-events: all;
//         }
//       }
//     }

//     .menu-link {
//       display: flex;
//       align-items: center;
//     }
//   }
// }

// .dropdown-menu {
//   position: fixed;
//   top: 80px;
//   left: 0;
//   right: 0;
//   background: white;
//   z-index: 5;
//   border-top: 1px solid var(--primary);
//   box-shadow: 0px 10px 20px rgba(0, 0, 102, 0.5);
//   padding-top: 45px;
//   padding-bottom: 70px;

//   &__wrapper {
//     display: flex;
//   }

//   &__title {
//     font-size: 38px;
//     font-weight: 700;
//     color: var(--dark);
//     margin-bottom: 8px;
//   }

//   &__description {
//     font-size: 13px;
//     color: black;
//   }

//   &__column:first-child {
//     flex-basis: 350px;
//   }

//   &__column:not(:last-child) {
//     margin-right: 70px;
//   }

//   ul.dropdown-menu-list {
//     display: block;
//     list-style: none;

//     a {
//       color: inherit;
//       white-space: nowrap;
//     }

//     .dropdown-menu-item {
//       margin-bottom: 15px;
//       color: black;

//       &--title {
//         margin-bottom: 20px;
//         color: var(--dark);
//         font-size: 18px;
//         font-weight: 700;
//       }

//       &:not(.dropdown-menu-item--title) + .dropdown-menu-item--title {
//         margin-top: 24px;
//       }
//     }
//   }
// }
