.contacts-block
  .contacts-block__question
    button.btn.btn-primary-inverse(type="button") Задать вопрос
  .contacts-block__mail
    .contacts-block__label Напишите нам
    a(href="mailto:information@s-terra.ru") information@s-terra.ru
  .contacts-block__apps
    .contacts-block__label Мы в мессенджерах
    ul.contacts-block__list
      li
        a(href="#") whatsapp
      li
        a(href="#") telegram
  .contacts-block__socials
    .contacts-block__label Мы в соцсетях
    ul.contacts-block__list
      li
        a(href="#") fb
      li
        a(href="#") yt
      li
        a(href="#") vk
      li
        a(href="#") in
