include ../../mixins/slider.pug

.home-clients
  .scroll-slider
    .scroll-slider-viewport
      .scroll-slider-slides
        -
          var partners = [
            {
              img: "./img/partners/1.png",
              coloredImg: "./img/partners/1-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/2.png",
              coloredImg: "./img/partners/2-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/3.png",
              coloredImg: "./img/partners/3-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/4.png",
              coloredImg: "./img/partners/4-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/5.png",
              coloredImg: "./img/partners/5-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/1.png",
              coloredImg: "./img/partners/1-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/2.png",
              coloredImg: "./img/partners/2-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/3.png",
              coloredImg: "./img/partners/3-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/4.png",
              coloredImg: "./img/partners/4-colored.png",
              alt: ''
            },
            {
              img: "./img/partners/5.png",
              coloredImg: "./img/partners/5-colored.png",
              alt: ''
            },
          ]

        each partner in partners
          .scroll-slider-slide.c-col-4.c-col-md-3.c-col-lg-2
            .client-block
              img.bw(src=partner.img alt=partner.alt)
              img.colored(src=partner.coloredImg alt=partner.alt)

    .container
      +slider-controls()
