section.home-faq
  .container
    h2.home-faq__title Как начать работать с нами

    .home-faq__accordion
      -
        var faq = [
          {
            title: 'Как подобрать решение и составить спецификацию',
            text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
          },
          {
            title: 'Как получить VPN продукты в тестирование',
            text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
          },
          {
            title: 'Как стать партнером',
            text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
          }
        ]

      div
        each item in faq
          section.home-faq-item.c-accordion
            header.home-faq-item__header.c-accordion-header
              .c-accordion-trigger
                h2.home-faq-item__title !{item.title}
                .home-faq-item__state
            .home-faq-item__content.c-accordion-panel !{item.text}
