.home-info
  .container
    .home-info__wrapper
      section.home-info-company
        .home-info-company__container
          .home-info-company__icons
            <svg width="241" height="204" viewBox="0 0 241 204" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M174 40.9411C174 40.2285 174.39 39.5732 175.015 39.2346L209.532 20.5345C209.854 20.3601 210.245 20.594 210.245 20.9611V51.9606C210.245 52.6732 209.855 53.3284 209.23 53.667L174.713 72.3672C174.391 72.5416 174 72.3077 174 71.9406V40.9411Z" fill="#B7B3FF" stroke="#000066" stroke-width="2"/>
              <path d="M174.618 73.2869C174.182 73.1881 174.103 72.6012 174.496 72.3898L208.624 54.0624C209.24 53.7319 209.954 53.635 210.635 53.7896L239.589 60.6337C240.024 60.7326 240.104 61.3194 239.71 61.5308L205.582 79.8582C204.967 80.1887 204.253 80.2857 203.571 80.1311L174.618 73.2869Z" fill="#918CFF" stroke="#000066" stroke-width="2"/>
              <path d="M214.252 71.4189C214.995 71.6058 215.782 71.5009 216.451 71.1256L221.861 68.0897C222.656 67.6438 222.489 66.4543 221.602 66.2445L217.017 65.1594C216.303 64.9906 215.553 65.0887 214.907 65.4352L209.38 68.4008C208.575 68.8327 208.723 70.0291 209.609 70.2518L214.252 71.4189Z" fill="#5754C2"/>
              <path d="M186.182 70.5537L208.994 58.0537" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M191.166 71.71L213.979 59.21" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M196.119 72.8662L218.932 60.3662" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              g.circles.circles-2
                g.circle.circle-1
                  <ellipse rx="37.2602" ry="33.3563" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 160.807 75.1161)" fill="#5754C2"/>
                g.circle.circle-2
                  <ellipse rx="37.2602" ry="33.3563" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 160.807 75.1161)" fill="#5754C2"/>
                g.circle.circle-3
                  <ellipse rx="37.2602" ry="33.3563" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 160.807 75.1161)" fill="#5754C2"/>
              <path d="M109.739 148.256C109.739 148.256 151.016 112.825 151.016 61.6579L157.058 3.84999L151.016 1.97559C151.016 1.97559 147.906 12.8376 124.712 26.226C90.0175 46.2527 68.4614 44.5428 68.4614 44.5428V106.031C68.4614 144.645 109.739 148.256 109.739 148.256Z" fill="#EC6C66" stroke="#000066" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path opacity="0.8" d="M97.6255 39C100.875 41.25 104 42.25 104 42.25C104 42.25 91.5005 47.25 75.0005 48.7501L68.4614 44.5429C68.4614 44.5429 79.5005 45.5 97.6255 39Z" fill="#E42D24"/>
              <path d="M109.739 148.256C109.739 148.256 151.016 112.825 151.016 61.6579L157.058 3.84999L151.016 1.97559C151.016 1.97559 147.906 12.8376 124.712 26.226C90.0175 46.2527 68.4614 44.5428 68.4614 44.5428V106.031C68.4614 144.644 109.739 148.256 109.739 148.256Z" stroke="#000066" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M115.93 148.999C115.93 148.999 157.207 114.888 157.207 63.7218V4.02734C157.207 4.02734 152.098 16.8882 128.323 30.6117C93.6291 50.6384 74.6528 48.4004 74.6528 48.4004V108.095C74.6528 149 115.93 148.999 115.93 148.999Z" fill="#E42D24" stroke="#000066" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path opacity="0.4" d="M157.208 63.7218C157.208 112.84 119.17 146.24 116.124 148.837C126.541 131.804 135.742 109.321 135.742 83.035V25.9731C153.196 14.1251 157.208 4.02734 157.208 4.02734V63.7218Z" fill="#9B130C"/>
              <path d="M115.93 148.999C115.93 148.999 157.207 114.888 157.207 63.7218V4.02734C157.207 4.02734 152.098 16.8882 128.323 30.6117C93.6291 50.6384 74.6528 48.4004 74.6528 48.4004V108.095C74.6528 149 115.93 148.999 115.93 148.999Z" stroke="#000066" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M118.305 136.001C118.305 136.001 150 103.772 150 67.4276V25.0259C150 25.0259 146.077 34.1611 127.821 43.9091C101.181 58.1343 86.6104 56.5446 86.6104 56.5446V106.946C86.6104 136.001 118.305 136.001 118.305 136.001Z" stroke="#000066" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M74.6255 48.6245L68.3755 44.9995" stroke="#000066" stroke-width="2"/>
              g.circles.circles-3
                g.circle.circle-1
                  <ellipse rx="39.9362" ry="35.7519" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 55.2352 135.52)" fill="#5754C2"/>
                g.circle.circle-2
                  <ellipse rx="39.9362" ry="35.7519" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 55.2352 135.52)" fill="#5754C2"/>
                g.circle.circle-3
                  <ellipse rx="39.9362" ry="35.7519" transform="matrix(0.227523 0.973773 0.99795 -0.0639948 55.2352 135.52)" fill="#5754C2"/>
              <path d="M24.2559 152.643C24.2559 152.061 24.5742 151.525 25.0849 151.248L53.2915 135.967C53.5546 135.825 53.8741 136.016 53.8741 136.316V185.43C53.8741 186.012 53.5557 186.547 53.045 186.824L24.8384 202.105C24.5753 202.248 24.2559 202.057 24.2559 201.757V152.643Z" fill="#5754C2" stroke="#000066" stroke-width="2"/>
              <path d="M24.2559 152.643C24.2559 152.061 24.0066 151.525 23.6066 151.249L1.51868 146.177C1.31264 146.034 1.0625 146.225 1.0625 146.525V195.639C1.0625 196.221 1.31178 196.757 1.71173 197.034L23.7997 202.106C24.0057 202.248 24.2559 202.057 24.2559 201.757V152.643Z" fill="#918CFF" stroke="#000066" stroke-width="2"/>
              <path d="M7.0625 161.667C7.0625 161.619 7.041 161.574 7.00652 161.551L5.10184 161.042C5.08407 161.03 5.0625 161.046 5.0625 161.071V164.149C5.0625 164.197 5.084 164.242 5.11848 164.265L7.02316 164.774C7.04093 164.786 7.0625 164.77 7.0625 164.745V161.667Z" fill="#5754C2"/>
              <path d="M11.0625 162.73C11.0625 162.681 11.041 162.637 11.0065 162.614L9.10184 162.105C9.08407 162.093 9.0625 162.109 9.0625 162.134V165.211C9.0625 165.26 9.084 165.304 9.11848 165.327L11.0232 165.836C11.0409 165.848 11.0625 165.832 11.0625 165.807V162.73Z" fill="#5754C2"/>
              <path d="M15.0625 163.605C15.0625 163.556 15.041 163.512 15.0065 163.489L13.1018 162.98C13.0841 162.968 13.0625 162.984 13.0625 163.009V166.086C13.0625 166.135 13.084 166.179 13.1185 166.202L15.0232 166.711C15.0409 166.723 15.0625 166.707 15.0625 166.682V163.605Z" fill="#5754C2"/>
              <path d="M19.0625 164.6C19.0625 164.551 19.041 164.507 19.0065 164.484L17.1018 163.975C17.0841 163.963 17.0625 163.979 17.0625 164.004V167.081C17.0625 167.13 17.084 167.174 17.1185 167.197L19.0232 167.707C19.0409 167.718 19.0625 167.702 19.0625 167.678V164.6Z" fill="#5754C2"/>
              <path d="M5.00244 191.417L19.9377 195.329" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 186.534L19.9377 190.446" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 181.65L19.9377 185.562" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 171.883L19.9377 175.795" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 157.837L19.9377 161.749" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 176.767L19.9377 180.679" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 167L19.9377 170.912" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M5.00244 152.954L19.9377 156.865" stroke="#5754C2" stroke-width="2" stroke-linecap="round"/>
              <path d="M1.37489 146.188C1.01888 146.107 0.953897 145.627 1.27555 145.455L28.937 131.687C29.44 131.417 30.0236 131.338 30.5804 131.464L53.5674 135.498C53.9234 135.579 53.9884 136.058 53.6667 136.231L25.7782 151.208C25.2752 151.478 24.6915 151.557 24.1348 151.431L1.37489 146.188Z" fill="#B7B3FF" stroke="#000066" stroke-width="2"/>
              g.circles.circles-1
                g.circle.circle-1
                  <ellipse rx="36.0615" ry="27.4519" transform="matrix(-0.193313 0.981137 -0.997121 -0.0758263 166.009 158.911)" fill="#5754C2"/>
                g.circle.circle-2
                   <ellipse rx="36.0615" ry="27.4519" transform="matrix(-0.193313 0.981137 -0.997121 -0.0758263 166.009 158.911)" fill="#5754C2"/>
                g.circle.circle-3
                   <ellipse rx="36.0615" ry="27.4519" transform="matrix(-0.193313 0.981137 -0.997121 -0.0758263 166.009 158.911)" fill="#5754C2"/>
              <path d="M161.792 186.364C161.792 185.782 161.535 185.246 161.124 184.97L138.293 171.886C138.081 171.743 137.823 171.935 137.823 172.235V181.849C137.823 182.431 138.08 182.966 138.492 183.243L161.322 189.51C161.534 189.652 161.792 189.461 161.792 189.161L161.792 186.364Z" fill="#918CFF" stroke="#000066" stroke-width="2"/>
              <path d="M161.792 185.567L190.792 170.255V174.255L161.792 189.567V185.567Z" fill="#5754C2" stroke="#000066" stroke-width="2" stroke-linejoin="round"/>
              <path d="M160.838 185.023C161.432 185.362 162.158 185.374 162.763 185.055L190.792 170.255L167.871 157.174C167.277 156.835 166.551 156.823 165.946 157.143L137.917 171.942L160.838 185.023Z" fill="#B7B3FF" stroke="#000066" stroke-width="2" stroke-linejoin="round"/>
              <path d="M160.916 167.174C161.804 167.675 162.887 167.69 163.789 167.213L169.546 164.173C170.246 163.804 170.259 162.806 169.57 162.418L168.043 161.558C167.155 161.057 166.072 161.043 165.17 161.519L159.413 164.559C158.713 164.928 158.7 165.926 159.389 166.315L160.916 167.174Z" fill="#918CFF"/>
              <path d="M141.644 169.749C140.823 169.428 140.764 168.267 141.554 167.875L145.988 165.675C146.658 165.343 147.427 165.272 148.141 165.499C149.974 166.082 153.707 167.361 156.493 168.919C159.865 170.806 163.663 173.762 165.97 175.654C167.03 176.524 166.866 178.163 165.675 178.843L163.098 180.314C162.045 180.915 160.735 180.825 159.764 180.098C157.542 178.437 153.45 175.461 150.433 173.755C147.665 172.19 143.965 170.656 141.644 169.749Z" fill="#B7B3FF" stroke="#000066" stroke-width="2" stroke-linejoin="round"/>
              <ellipse cx="173.037" cy="166.438" rx="1.255" ry="0.907871" transform="rotate(10 173.037 166.438)" fill="#918CFF"/>
              <ellipse cx="175.916" cy="168.111" rx="1.255" ry="0.907871" transform="rotate(10 175.916 168.111)" fill="#918CFF"/>
              <ellipse cx="178.796" cy="169.719" rx="1.255" ry="0.907871" transform="rotate(10 178.796 169.719)" fill="#918CFF"/>
              <ellipse cx="170.25" cy="168.065" rx="1.255" ry="0.907871" transform="rotate(10 170.25 168.065)" fill="#918CFF"/>
              <ellipse cx="173.129" cy="169.737" rx="1.255" ry="0.907871" transform="rotate(10 173.129 169.737)" fill="#918CFF"/>
              <ellipse cx="176.008" cy="171.346" rx="1.255" ry="0.907871" transform="rotate(10 176.008 171.346)" fill="#918CFF"/>
              <ellipse cx="167.278" cy="169.502" rx="1.255" ry="0.907871" transform="rotate(10 167.278 169.502)" fill="#918CFF"/>
              <ellipse cx="170.157" cy="171.175" rx="1.255" ry="0.907871" transform="rotate(10 170.157 171.175)" fill="#918CFF"/>
              <ellipse cx="173.037" cy="172.783" rx="1.255" ry="0.907871" transform="rotate(10 173.037 172.783)" fill="#918CFF"/>
            </svg>

          .home-info-company__content
            h2.home-info-company__title Разрабатываем и производим сердства сетевой информационной безопасности

            .home-info-company__text На основе технологии IPsec VPN обеспечиваем защиту межсетевых взаимодействий, беспроводных и мультисервисных сетей, безопасность работы удаленных и мобильных пользователей.
            .home-info-company__link
              a.btn(href="#") О компании

      section.home-info-products
        .home-info-products__container
          h2.home-info-products__title Вся продуктовая линейка ООО «С-Терра СиЭсПи»
          div.home-info-products__text Ознакомьтесь с линейкой нашей продукции
          div.home-info-products__link
            a.btn.btn-accent(href="#") Перейти в каталог
