include ../../mixins/slider.pug

section.home-solutions
  .container
    header.home-solutions__header
      h2.home-solutions__title Наши решения
      ul.home-solutions-menu
        li.home-solutions-menu__item.active
          a(href="#") Все
        li.home-solutions-menu__item
          a(href="#") Комплексные
        li.home-solutions-menu__item
          a(href="#") Отраслевые

    .home-solutions-slider.c-slider
      .c-slider-wrapper
        .c-slider-slides
          -
            var solutions = [
              {
                group: 'Комплексное решение',
                title: 'Защита удаленного доступа',
                icon: "../img/solutions/1.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита персональных данных',
                icon: "../img/solutions/2.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита межфилиальных взаимодействий',
                icon: "../img/solutions/3.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита удаленного доступа',
                icon: "../img/solutions/1.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита персональных данных',
                icon: "../img/solutions/2.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита межфилиальных взаимодействий',
                icon: "../img/solutions/3.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита удаленного доступа',
                icon: "../img/solutions/1.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита персональных данных',
                icon: "../img/solutions/2.png"
              },
              {
                group: 'Комплексное решение',
                title: 'Защита межфилиальных взаимодействий',
                icon: "../img/solutions/3.png"
              }
            ]

          each solution in solutions
            section.c-slider-slide.home-solution
              .home-solution__group= solution.group
              h3.home-solution__title= solution.title
              .home-solution__icon
                img(src=solution.icon alt="")

      +slider-controls({
        link: '#',
        name: 'Каталог решений'
      })
