footer.footer
  .container
    .footer__wrapper

      .footer__logo
        a.footer-logo(href="#")
          img(src='./img/logo-white.png' alt="S-Terra logo")

      .footer__data
        .footer-contacts
          .footer-contacts__title Контакты

          p
            b Офис:
            br
            |124460  г. Зеленоград, ул. Конструктора Лукина, д. 14, стр. 12, Технополис Москва

          p
            |Телефон/факс:
            br
            a(href="tel: 84999409061")
              b 8 (499) 940-90-61

          p
            |Почта
            br
            a(href="mailto:information@s-terra.ru")
              b information@s-terra.ru

        .footer-apps
          include ../apps/index.pug


      .footer__links
        a.footer-logo
          img(src='./img/logo-white.png' alt="S-Terra logo")

        a.footer-link(href="#") Предупреждение об информации на сайте

        a.footer-link(href="#") Политика обработки персональных данных ООО «С-Терра СиЭсПи»

        .footer-copyright
          |© ООО «С-Терра СиЭсПи», 2021
          br
          |Все права защищены.



      .footer__column.footer-menu
